body {
    background: linear-gradient(to right, #fc9803,#80fc03);
    font-family: 'Courier New', Courier, monospace !important;
    color: black;
    text-align: center;
    margin: auto;
}

.interesting {
    block-size: auto;
    border: white 10px;
    text-align: center;
}

.title {
    font-weight: bolder;
    text-align: center;
}

.skills {
    text-align: center;
    margin: auto;
}

.logo {
    size: 30px 40px;
}

.logo:hover {
    transform: skewZ(10deg);
}

.bold {
    font-weight: bold;
    font-size: 1.3rem;
    color: purple;
}