body {
    background: linear-gradient(to right, #fc9803, #80fc03);
    font-family: 'Courier New', Courier, monospace !important;
}

.interesting {
    block-size: auto;
    border: white 10px;
    align-content: center;
}

.title {
    font-size: 1.2rem;
    justify-self: center;
}

.skills {
    justify-self: auto;
    margin: auto;
}

.logo:hover {
    -ms-transform-origin-y: 1.2rem;
}

.bold {
    font-size: 1.3rem;
    color: red;
}