body {
    background: linear-gradient(to right, #fc9803,#80fc03);
    font-family: 'Courier New', Courier, monospace !important;
}

.interesting {
    block-size: auto;
    border: white 10px;
    justify-content: center;
}

.title {
    font-size: 1.2rem;
    justify-content: center;
}

.skills {
    justify-content: auto;
    margin: auto;
}

.logo:hover {
    transform: skewY(10deg);
}

.bold {
    font-size: 1.3rem;
    color: red;
}